<% if user_signed_in? %>
<div class="main_div">
  <div>
    こんにちは、<%= current_user.user_name %>さん
  </div>
  <div class="status_frame">
    <div class="status_area">
      体重: <%= @latest_body_mass %> kg
    </div>
    <div class="status_area">
      歩数: <%= @latest_steps %> 歩
    </div>
  </div>
  <button id="update_button" class="update_button">
    更新
  </button>
  <div class="msgs_frame">
    <!-- メッセージ履歴が存在する場合 -->
    <% if !@message_histories.blank? %>
      <!-- メッセージ履歴が1つ以上存在する場合 -->
      <% if @message_histories.count > 0 %>
        <% @message_histories.each do |message_history| %>
          <div class="msg_area_base">
            <%= message_history.message %>
          </div>
 	<% end %>
      <!-- メッセージ履歴が存在しない場合 -->
      <% else %>
        <div class="msg_area_base">
          表示するメッセージがありません
        </div>
      <% end %>
    <!-- メッセージ履歴が存在しない場合 -->
    <% else %>
      <div class="msg_area_base">
        表示するメッセージがありません
      </div>
    <% end %>
  </div>
</div>
<% end %>
