// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_div {
  width: 260px;
  fload: none;
}

.status_frame {
  width: 300px;
  float: none;
}

.status_area {
  margin: 2px;
  padding-left: 10px;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.update_button {
  margin-top: 10px;
  padding-top: 3px;
  padding-left: 130px;
  padding-bottom: 3px;
  padding-right: 130px;
  border: 0px;
  border-radius: 4px;
  background-color: #f0faf0;
  text-align: center;
  text-decoration: none;
}
.update_button:hover {
  margin-top: 10px;
  padding-top: 3px;
  padding-left: 130px;
  padding-bottom: 3px;
  padding-right: 130px;
  border: 0px;
  border-radius: 4px;
  background-color: #e0eae0;
  text-align: center;
  text-decoration: none;
}

.msgs_frame {
  width: 300px;
  border-radius: 4px;
}

.msg_area_base {
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
/*  box-shadow: 1px 1px 0px rgba(128, 128, 128, .2); */
  border-radius: 4px;
  background-color: #f0f0fa;
  color: #505050;
}

.sepa {
  width: 300px;
  height: 1px;
  margin-left: -2px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0px 1px 0px rgba(128, 128, 128, .7);
/*  background-color: #808080 */
}
